<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Tucubit by avilaroman</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Tucubit</h1>
        <h2>TucuBit.com - Ruby on Rails app usando la gema tucubit</h2>
        <a href="https://github.com/avilaroman/tucubit" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <p>tucubit
Ficha de sitio web nombre = TucuBit url = <a href="http://tucubit.com">http://tucubit.com</a> comercial = si tipo = criptomoneda usuarios = de la red bitcoin español = si propietario = avilaroman creador = avilaroman lanzamiento = {{fecha de lanzamiento|03|09|2014}} estado actual = On Line - corriendo | logo en ASCII | |
| -------------------------------------------------------------------------- |:-------------:| | ___________ __________.__ __ |:-------------:| |__ / __ __ __ _____ <strong>|/ |_ __</strong> ____ _____ |:-------------:| | | | | | <em>/ | | \ | _/ \ _\ / _</em>\/ _ \ / \ |:-------------:| | | | | | /\ <em>| | / | \ || | \ _</em>( &lt;&gt; ) Y Y \ |:-------------:| | |<strong><em>| |_</em></strong>/ ___ &gt;____/|______ /||| /\ /___ &gt;____/|__|_| / |:-------------:| | \/ \/ \/ \/ \/ \/ |:-------------:|</p>

<p>'''TucuBit.com''' es un sitio web destinado a la recarga de tarjetas ciudadanas mediante Bitcoins, fundada en 2014. Con la creciente adopción de la criptomoneda y promete tener aceptación popular.{{cita web |url= |título= |fechaacceso={{subst:CURRENTDAY}} de {{subst:CURRENTMONTHNAME}} de {{subst:CURRENTYEAR}} Ofrece un servicio social para la comunidad, con la comodidad de hacer la recarga desde la casa.</p>

<p>== Historia == Nacido de una necesidad de poder hacer las recargas en casa, o de donde estés. Con esto proponen incorporar un radical servicio con el sistema de pagos del futuro. Debido a las condiciones de la ciudad de San Miguel de Tucumán, los interesados aportaron en el desarrollo del servicio, de forma que para 2014 la apuesta está sobre la mesa.</p>

<p>== Servicios y desenvolvimiento ==</p>

<p>Recarga de la Tarjeta Ciudadana con Bitcoins &lt;!--Describe aquí--&gt; mediante la plataforma de pago de Coinbase.com.ar
== Cómo instalar la Gema TucuBit de Ruby on Rails ==</p>

<p>abrimos la consola y con el comando:</p>

<p>gem install tucubit
la gema queda instalada y debes incluirla en tu Gemlist para usarla.
== Recepción ==</p>

<p>El servicio está implementado y funcionando.</p>

<p>== Referencias == {{listaref}}</p>

<p>== Enlaces externos ==</p>

<p>[<a href="http://www.tucubit.com/">http://www.tucubit.com/</a> Enlace al sitio web Oficial]
[<a href="https://github.com/avilaroman/tucubit/">https://github.com/avilaroman/tucubit/</a> Enlace al Repositorio en GitHub.com Oficial]
[<a href="https://rubygems.org/gems/tucubit/">https://rubygems.org/gems/tucubit/</a> Gema TucuBit de Ruby on Rails hosteado en Rubygems]
[[Categoría:bitcoin]] [[Categoría:mercado]]</p>
        </section>

        <aside id="sidebar">
          <a href="https://github.com/avilaroman/tucubit/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/avilaroman/tucubit/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/avilaroman/tucubit"></a> is maintained by <a href="https://github.com/avilaroman">avilaroman</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

  
  </body>
</html>
